# Experience Log 

exp_id: {{ exp_id }}
agent_uuid: {{ agent_uuid }}
return_event_uuid: {{ return_event_uuid }}

*** 


time_spent_in_queue: {{ time_spent_in_queue }}
time_spent_ride_lift: {{ time_spent_ride_lift }}
time_spent_traverse_down_mountain: {{ time_spent_traverse_down_mountain }}

***

# Full Dict

{{ full_dict }}

# Agent Log

{{ agent_log_str }}
