# Experience Log 

*** 

A simulation of a ski lift queue has been ran. the lift has been operated from 
time `t` to time `t_{n}`. a time, sample_time="{{ sample_time }}"

below are some parameters related to this simulation: 

exp_id: {{ exp_id }}
agent_uuid: {{ agent_uuid }}
return_event_uuid: {{ return_event_uuid }}
simulation uuid: {{ simulation_uuid }}


***


time_spent_in_queue: {{ time_spent_in_queue }}
time_spent_ride_lift: {{ time_spent_ride_lift }}
time_spent_traverse_down_mountain: {{ time_spent_traverse_down_mountain }}

***

# Full Dict

{{ full_dict }}

# Agent Log

{{ agent_log_str }}

***
